**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md


# Ignore evrything except readme.md in user content/bin folder so that user-content always exists as caution
/hub/*
/user-content/*
/user-bin/*
/user-upload/*
/user-deleted-forever/*

!/hub/readme.md
!/hub/user-support/readme.md
!/user-content/readme.md
!/user-bin/readme.md
!/user-upload/readme.md
!/user-deleted-forever/readme.md


