#environments
.env
.env.local
.env.dev
.env.prod
.env.production
.env.development

# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
newrelic_agent.log

# OS
.DS_Store

# Tests
test/e2e/coverage
test/unit/coverage

/.nyc_output

# IDEs and editors
/.idea
/.settings
/.c9
/target
/.vscode/*
.project
.classpath
*.launch
*.sublime-workspace

!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Ignore evrything except readme.md in user content folder so that user-content always exists as caution
/user-content
!/user-content/readme.md