#environments
.env
.env.local
.env.dev
.env.prod

# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
newrelic_agent.log

# OS
.DS_Store

# Tests
test/coverage
/.nyc_output

# IDEs and editors
/.idea
/.settings
/.c9
/.vscode
/target

.project
.classpath
*.launch
*.sublime-workspace